/*
Reglas:

Selectores: Como identificar elementos de HTML

Declaraciones: Todo lo que hacemos con ese selector

Propiedades: Lo que podemos hacer con esos elementos

Valores: Variables de las propiedades

*/

/* Selector de etiqueta: header - section - article -nav 
Selector descendente: body header div nav ol li a 
Selector de id: #id
selector de clase: .clase*/

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?k6qwy1');
    src:  url('../fonts/icomoon.eot?k6qwy1#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?k6qwy1') format('truetype'),
        url('../fonts/icomoon.woff?k6qwy1') format('woff'),
        url('../fonts/icomoon.svg?k6qwy1#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
    content: "\e9bd";
}
.icon-twitter:before {
    content: "\ea96";
}
.icon-github:before {
    content: "\eab0";
}
.icon-linkedin:before {
    content: "\eaca";
}

body {
    font-family: "Source Sans Pro", sans-serif;
    margin: 0px;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fjalla One', Serif;
    font-weight: normal;
    font-style: italic;
}

h1 {
    line-height: 1.5;
    font-size: 40px;
    letter-spacing: -.2px;
    color: white;
    margin: 0px;
    max-width: 500px;
}

h1 strong {
    color: #026fff;
}

h2 {
    color: #026fff;
    text-transform: uppercase;
    font-style: "Source Sans Pro", sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

.hero {
    height: 300px;
    /* background-position-x: right; */
    background-color: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero-image {
    object-fit: cover;
}

.portfolio {
    background-color: #fafafa;
    padding: 20px;
    margin: 0px;
}

.project {
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 15px;
    margin: 10px;
    padding: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project strong{
    font-family: 'Fjalla One', Serif;
}

.project-title {
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.project-details {
    width: 50%;
}

.project-date {
    margin: 10px 0;
}

.project-description {
    font-size: 20px;
}

.project-course {
    margin: 10px 0;
    justify-content: space-evenly;
}

.project-imageContainer {
    margin: 0px;
    width: 50%;
    display: inherit;
    justify-content: flex-end;
}

.project-imageContainer img {
    max-width: 100%;
}

.header {
    background-color: #1b2127;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    flex-wrap: wrap;
}

.header .logo {
    text-align: center;
}

.menu {
    height: inherit;
}

.header ol {
    display: flex;
    height: inherit;
}

.header ol li {
    height: inherit;
}

.header a {
    color: white;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.footer {
    color: aliceblue;
    background-color: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.website {
    margin: 1%;
    border: 1px solid grey;
    width: 48%;
    display: inherit;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
    background: #f4fbff;
}

.website-imageContainer {
    width: 481px;
    margin: -21px;
}

.website img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.website-detail {
    margin: 20px 40px;
    background-color: white;
    margin-top: -40px;
    position: relative;
    padding: 20px;
    text-align: center;
}

.website-description {
    text-align: left;
}

.instagram {
    border: 1px solid;
    border-radius: 5px;
    padding: 5px 20px;
    text-decoration: none;
    color: #056fff;
    text-align: center;
}

.website-title {
    margin-left: 10px;
}

.contact {
    background-color: #056fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


.social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    margin: 0 10px;
}

.contact a {
    text-decoration: none;
}

.icon-linkedin {
    color: #fafafa;
    font-size: 40px;
    padding: 10px;
}

.icon-twitter {
    color: #fafafa;
    font-size: 40px;
    padding: 10px;
}

.icon-github{
    color: #fafafa;
    font-size: 40px;
    padding: 10px;
}

.form-email input {
    border-color: gray;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 20px 10px 25px;
    background-image: url(../images/envelope.svg);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.form-email button {
    display: block;
    margin-top: 10px;
    background: transparent;
    color: white;
    padding: 10px 0;
    width: 100px;
    border-radius: 5px;
}

.form-email h3 {
    font-style: "Source Sans Pro", sans-serif;
}

.youtube-video {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.flexible-video {
    width: 100%;
    padding-top: 56.25%;
    position: relative;
}

.container {
    max-width: 1000px;
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}

.burger-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .8);
    display: none;
    line-height: 40px;
    text-align: center;
    position: fixed;
    z-index: 4;
    left: 5px;
    top: 5px;
    color: white;
}

/* Desktop first empezar desde el MQ mas grande*/

@media screen and  (max-width: 1023px) {


    .portfolio {
        padding: 0;
    }

    .hero {
        height: auto;
        position: relative;
        overflow: hidden;
        padding: 2em;
    }

    h1 {
        font-size: 2em;
        z-index: 2;
    }

    h2 {
        margin-left: 10px;
    }

    .hero-image {
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
    }
}

@media screen and (max-width: 767px) {

    .website-title {
        margin-left: 10px;
    }

    h2 {
        font-size: 1.2em;
        margin: .5em .5em 0;

    }
    .burger-button {
        display: block;
    }
    .header {
        display: block;
        height: auto;
    }
    .header ol {
        display: block;
    }
    .header ol li {
        height: 50px;
    }
    .header a {
        justify-content: center;
        height: 40px;
        font-size: 2em;
        margin-bottom: .5em;
    }
    .menu {
        display: block;
    }
    .header.logo {
        text-align: center;
    }
    .menu {
        position: fixed;
        background: rgba(27, 33, 39, 0.9);
        z-index: 3;
        top: 0;
        left: -100vw;
        width: 100vw;
        /* height: 100vh; */
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
    }
    .menu.is-active {
        left: 0;
    }
    .project {
        display: block;
    }

    .project-imageContainer {
        width: auto;
        text-align: center;
    }

    .project-details {
        width: auto;
        font-size: 16px;
    }

    .project-course, .project-date {
        margin: .4em 0;
    }

    .project-title {
        font-size: 1.5em;
        margin-bottom: .3em;
    }

    .project-course {
        font-size: .7em;
    }

    .project-date {
        font-size: 1em;
    }

    .project-description {
        font-size: 1em;
    }

    .website {
        width: auto;
        flex-shrink: initial;
        margin: 10px;
    }

    .website img {
        width: 100%;
    }
}

@media screen and  (max-width: 480px) {

    h1 {
        font-size: 1.5em;
    }

    .project-details {
        font-size: 14px;
    }

    .website-detail {
        margin: -2em .5em .5em ,5em;
        padding: 1em;
    }

    .contact {
        height: auto;
        padding: 1.5em 0;
        text-align: center;
        display: block;
    }

    .form-email h3 {
        margin-top: 0;
    }

    .form-email button {
        margin: 1em auto;
    }

    .footer {
        display: block;
        text-align: center;
        border: 1px solid transparent;
    }

    .social-link {
        width: 40px;
        height: 40px;
        background-size: 100%;
    }
}

@media screen and  (max-width: 320px) {
    h1 {
        font-size: 1.2em;
        background: rgba(0,0,0,0.5);
    }

    .hero {
        padding: 2em 1em;
    }
}